*.o
*.a
*.exe
/comptime.h
/oshw-qt/ui_*.h
/oshw-qt/moc_*.cpp
/build
/build-*
/node_modules
/web/node_modules
/web/.vite
/web/dist
/scripts/__pycache__/
*.pyc
*.tsbuildinfo
/CHIPS.dat
/data/CHIPS.dat
/debug_uploads_gitignore
